# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [9]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

b = [] 
b.append(a[-3:])
print(b)

[[4, 5, 6]]

In [7]:
# create a list of numbers from 1 to 20

c = list(range(1, 21))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

d = list(range(1, 101))
e = list()

for value in d: 
    if value % 2 == 0:
        e.append(value)

print(e)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [18]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

def divide(num1, num2):
    print(num1 / num2) 

divide(8,22)

0.36363636363636365

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for nums in range(1, 31):
    if nums % 3 == 0 and nums % 5 == 0:
        print("Fizzbuzz")
    elif nums % 3 == 0:
        print("fizz")
    elif nums % 5 == 0:
        print("buzz")
    else:
        print(nums)

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

ahmo_menu = {"Gyro":9.00, "Burger":9.00, "Greek Salad":8.00, "Philly Steak":10.00}

In [29]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd

starbucks = pd.read_csv("/Users/johnny/Desktop/Code/Data Science/starbucks.csv")

In [ ]:
# select all rows with more than and including 400 calories

starbucks[starbucks["calories"] > 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

starbucks[starbucks["vitamin c"] > starbucks["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink

starbucks["caffeine_per_calories"] = starbucks["caffeine"] / starbucks["calories"]
starbucks.head()

In [ ]:
# what is the average calorie across all items?

starbucks["calories"].mean()

In [36]:
# how many different categories of beverages are there?

print(starbucks["beverage_category"].nunique())

9

In [38]:
# what is the average # calories for each beverage category?

beverage = starbucks.groupby("beverage_category")
beverage['calories'].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64